version: '3.4'

services:
  app:
    image: testapp
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    environment:
      NODE_ENV: production
    env_file: .env
    ports:
      - 3000:3000
    depends_on:
      - "db"
    # command: sh -c "./wait-for-it.sh db:3306 && node app.js"

  db:
    env_file:
      - .env
    image: postgres:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: user12345
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASS}"
    ports:
       - "5432:5432"
    volumes:
         - data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    environment:
      - PMA_ARBITRARY=1
  
volumes:
  my-datavolume: