@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dongle&family=Montserrat&family=Roboto:wght@300;400;500;700&display=swap');
.menu {
    display: flex;
}

.menuEl {
    list-style: none;
   
}


